:root {
	--fg: #6eaedb;
	--shadow: 0 0 3px #00111C, 0 0 5px #001523;
	--link: #4ba0dd;
	--visited: #306991;

	--bg: #0d0d2b;
	--bg2: #3e3e4f; --selection: #002137;

	--font-body: "Bitstream Vera Sans", "Verdana", sans-serif;
	--font-mono: "Bitstream Vera Sans Mono", "Menlo", monospace;
	--font-accent: var(--font-mono);
}
/* UTILITY CLASSES */
.clearfix::after { clear:both; display:block; content: ""; }
.inline { display:inline }
/* MAIN STYLES*/
html {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
body {
	background-color: var(--bg);
	background: linear-gradient(var(--bg) 0%, var(--bg2) 33%, var(--bg) 66%);
	background-size: 100% 3px;
	color: var(--fg);
	text-shadow: var(--shadow);
	font: 100%/1.6 var(--font-body);
	margin: auto;
	max-width: 85%;
	word-spacing: .05em;
}
::selection {
	background: var(--selection);
	color: white;
	text-shadow: none;
}
a {
	color: var(--link);
}
a:visited {
	color: var(--visited);
}
a:hover,
a:focus {
	text-decoration: none;
}
code {
	font: 100%/1.25 var(--font-mono);
}
pre > code {
	font: 87.5%/1.1 var(--font-mono);
}
footer {
	font: 75%/1.25 var(--font-accent);
}
h1 {
	font: bold 200%/1 var(--font-accent);
	margin: 0.5em 0 0 0;
	border-bottom: 0.25em solid;
}
h1::after {
	content: "█";
	animation: blink 2.4s steps(2) infinite;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
}
@media(prefers-reduced-motion: reduce) {
	h1::after {
		animation: none !important;
		opacity: 50%;
	}
}
h2 {
	font: bold 141%/1 var(--font-accent);
	margin: 0.2em 0 0 0;
}
h3 {
	font: bold 117%/1 var(--font-accent);
}
/* NAVIGATION */
header > nav {
	display: inline-block; /* forces single line nav... not ideal but works for now FIXME */
}
header > nav > ul {
	font: 100%/1.5 var(--font-accent);
	list-style-type: none;
	margin: 0 0 0.2em 0;
	padding: 0;
}
header > nav > ul > li {
	display: inline;
}
header > nav > ul > li > a {
	padding: 0.2em;
}
header > nav a.active {
	background: var(--fg);
	color: var(--bg);
}
/* SECTION */
main,
section,
article {
	border-bottom: 1px solid;
}
/* IMAGES */
figure {
	border: 1px solid;
	margin: auto;
	padding: 0.2em;
	text-align: center;
	width: min-content;
}
figure.fullwidth {
	width: initial;
}
figure.fullwidth > img {
	max-width: 100%;
}
/* DETAILS */
details {
	border: 1px solid;
	padding: 0.2em;
}
/* BLOCKQUOTE */
blockquote,
pre {
	margin: 1em;
	border-left: 0.25em solid var(--fg);
	padding-left: 1em;
}
/* TABLES */
table {
	margin: 0.2em;
}
tr:nth-of-type(odd) {
	background: var(--bg);
}
tr:nth-of-type(even) {
	background: var(--bg2);
}
tr td:first-child {
	white-space: nowrap;
}
td {
	padding: 0 0.2em;
}
th {
	border: 1px solid;
	padding: 0 0.2em;
}
table.center-cells td,
table.center-cells th {
	text-align: center;
}
